name: SwiftLint

on:
  pull_request:
    paths:
      - '.github/workflows/swiftlint.yml'
      - '.swiftlint.yml'
      - '**/*.swift'

jobs:
  swiftlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: GitHub Action for SwiftLint (Changed Files)
        uses: norio-nomura/action-swiftlint@3.1.0
        with:
            args: --strict  
        env:
          DIFF_BASE: ${{ github.base_ref }}
